{% extends "layout.html" %}
{% block content %}
<form action="get_test" method="GET">
<!--
    <input type="text" required name="name">
    <input type="password" required name="password">
    <input type="submit" value="login">

-->
    <div class="row mb-3">
        <label for="exampleInputEmail1" class="col-sm-2 col-form-label">Email address</label>
        <div class="col-sm-10">
        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
        </div>
    </div>
    
    
</form>
<button type="button" class="btn btn-default btn-lg" onclick="location.href='/'">Home</button>

{% endblock %}